
header {
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px #ff4dff;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 40px;
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: url(../img/soft.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    text-align: left;
    font-family: "Lucida Console", Courier, monospace;
    line-height: 1.8;

}

.formDiv {
    border-radius: 5px;
    background-color: #ffe6ff;
    padding: 20px;
}

input[type=text], select {
    display: block;
    background-color: #ffe6ff;
    width: 100%;
    border: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    padding: 10px 12px;
    font-family: "Lucida Console", Courier, monospace;
}

input[type=text] {
    display: block;
    width: 100%;
    background-color: #ffe6ff;
    border-top: 10px solid;
    padding: 10px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    font-family: "Lucida Console", Courier, monospace;
}

input[type=email] {
    display: block;
    width: 100%;
    background-color: #ffe6ff;
    padding: 10px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    font-family: "Lucida Console", Courier, monospace;
}

textarea {
    resize: none;
    border: none;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #ffe6ff;
}

input[type=button] {
    display: block;
    width: 100%;
    background-color: #ffccff;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Lucida Console", Courier, monospace;
}

    input[type=button]:hover {
        background-color: #ffb3ff;
    }